<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320937484907-jtg9c0j04tnn2tvi3d8iedr95dr0c48j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320937484907-jtg9c0j04tnn2tvi3d8iedr95dr0c48j</string>
	<key>API_KEY</key>
	<string>AIzaSyB0YmjJAgpCORPGuSpSC9EsCaWmDUL5_oo</string>
	<key>GCM_SENDER_ID</key>
	<string>320937484907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyeon.SMSPushExample</string>
	<key>PROJECT_ID</key>
	<string>smsexample-1c5de</string>
	<key>STORAGE_BUCKET</key>
	<string>smsexample-1c5de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320937484907:ios:23d83d4e6f6ea15324872e</string>
</dict>
</plist>